
    * {
        margin: 0;
        padding: 0;
      }
      
      body{
         background-image: linear-gradient(to right, rgb(0, 0, 0),rgb(148, 139, 139),rgb(224, 207, 207));
         object-position: 5px 10%;
         display: flex;
         align-items: center;
         justify-content: center;
         height: 100vh;
    
   }    

      img {
         width: 10%; 
      } 
     
.div_imc {
    border: 2px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(160, 150, 140), rgb(146, 134, 134));

}

