body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 60px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
}

h1 {
  background-color: #2cc2b5;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

button {
  padding: 10px 15px;
  background-color: #2cc2b5;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
}